.Property {
  width: 185px;
  border-radius: 5px;
  background-color: white;
  position: relative;
  &:hover {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
  .price {
      display: flex;
      position: absolute;
      align-items: center;
      left: 50%;
      color: white;
      background: #00000082;
       font-family: 'Oxygen', sans-serif;
       font-weight: bold;
       font-size: 21px;
       width: max-content;
      border-radius: 50px;
      padding: 6px 14px;
      z-index: 2;
      transform: translateX(-50%);
      top: -17px;
      img {
        padding-right: 5px;
        width: 25px;
        transform: scale(1) !important;
      }
    }
  header {
    position: relative;
    width: 100%;
    height: 149px;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    overflow: hidden;
    &:hover img {
      transform: scale(1.4);
      transition: all 0.8s ease-in-out;
    }
    &:hover::after{
      background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30));
      transition: all 0.8s ease-in-out;
    }
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60));
      transition: all 0.8s ease-in-out;
      cursor: pointer;
    }
    img {
      width: 100%;
      height: 100%;
      transition: all 0.5s ease-in-out;
      &:hover {
        transform: scale(1.4);
        transition: all 0.8s ease-in-out;
      }
    }
    
    button {
      cursor: pointer;
      text-align: start;
      background-color: transparent;
      display: flex;
      font-weight: bold;
      align-items: center;
      border: none;
      position: absolute;
      z-index: 2;
      height: 50px;
      font-size: 18px;
      color: white;
      font-family: 'Oxygen', sans-serif;
      p {
        display: flex;
        align-items: center;
        color: #ef9725;
        margin-left: 7px;
        margin: 0;
      }
      svg {
        transform: rotate(180deg);
        font-size: 35px;
      }
    }
  }

  .propertyTitle {
    margin: 0;
    font-weight: 400;
    padding: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 22px;
    overflow: hidden;
  }

  .description {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
}
